<div class='container'>
  <div *ngIf="products && products.length > 0; else elseBlock">
    <ul>
      <h2>You Have In Your Cart {{numberOfGoods}} position(s):</h2>
      <li appHighlight *ngFor='let item of products | orderBy : field : ascOrder; trackBy:trackByFn'>
        <app-cart-item [product]="asCartItem(item)" [count]="asCartItem(item).count"
          (increaseQuantity)="onIncreaseQuantity($event)" (decreaseQuantity)="onDecreaseQuantity($event)"
          (removeItem)="onRemoveItem($event)">
        </app-cart-item>
      </li>
    </ul>

    <div class="summa">
      <h4>Sum: ${{sumOfGoods}}</h4>
    </div>

    <div class="sorting">
      <pre class="card card-block card-header">Select field to order cart items:</pre>
      <div class="form-inline">
        <div class="btn-group" btnRadioGroup>
          <label class="btn btn-success" btnRadio="asc" [class.selected]="field === 'price'" (click)="field='price'">Price</label>
          <label class="btn btn-success" btnRadio="desc" [class.selected]="field === 'count'" (click)="field='count'">Count</label>
          <label class="btn btn-success" btnRadio="name" [class.selected]="field === 'name'" (click)="field='name'">Name</label>
        </div>
      </div>

      <pre class="card card-block card-header">Select sorting direction:</pre>
      <div class="form-inline">
        <div class="btn-group" btnRadioGroup>
          <label class="btn btn-success" btnRadio="asc" [class.selected]="ascOrder" (click)="ascOrder=true">Asc</label>
          <label class="btn btn-success" btnRadio="desc" [class.selected]="!ascOrder" (click)="ascOrder=false">Desc</label>
        </div>
      </div>
    </div>
  </div>
  <ng-template #elseBlock>
    <h2>Your Cart is empty</h2>
  </ng-template>
</div>
