.flex-container {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}

.summa {
  float: right;
}

.sorting {
  clear: both;
}

.selected {
  background-color: darkgreen;
  border-color: darkgreen;
}

.cart-item {
  cursor: pointer;
}

.widen {
  width: 200%;
}
